@use "vars";

.footer {
  background-color: vars.$Bg-Footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .footer__up {
    display: none;
  }
  .footer__redes {
    font-size: 1.8em;
    a {
      text-decoration: none;
      color: vars.$White;
    }
    .redes__item {
      background-color: vars.$Bg-Redes;
      margin: 16px;
      padding: 16px;
      transition: all 0.5s;
    }
    .redes__item:hover {
      background-color: vars.$Green;
    }
  }
  .footer__name {
    color: vars.$Grey;
    margin-top: 24px;
    padding-bottom: 24px;
    text-transform: uppercase;
    span {
      color: vars.$Red;
    }
  }
}
